<%= form_for(@future) do |f| %>
  <% if @future.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future.errors.count, "error") %> prohibited this future from being saved:</h2>

      <ul>
      <% @future.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br>
     <%= f.text_field(:account_id, Account.all, :id, :name) %>  
  </div>
  <div class="field">
    <%= f.label :years %><br>
    <%= f.select(:years, Future::WEEKS) %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
