<%= form_for(@future_line_item) do |f| %>
  <% if @future_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future_line_item.errors.count, "error") %> prohibited this future_line_item from being saved:</h2>

      <ul>
      <% @future_line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :future_id %><br>
    <%= f.number_field :future_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :ammount %><br>
    <%= f.text_field :ammount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
