
<% @accounts_by_type.each do |type, accounts| %>
<h2><%= Invtype.get_name(type) %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Ticker</th>
      <th>Vat?</th>
      <th>Current<br>Ammount</th>
      <th>Last Month<br>Change(%)</th>     
      <th>Last Year<br>Ammount</th>
      <th>Annual<br>Change(%)</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  

    <% accounts.each do |account| %>
  <tbody>
      <tr>
        <td><%= link_to account.name, account %></td>
        <td><%= account.status %></td>
        <td><%= account.ticker %></td>
        <td><%= account.vat %></td>
        <td>£<%= get_latest_ammount(account) %></td>
        <td>£<%= get_latest_change(account) %> (<%= get_latest_percentage_change(account) %>)</td>        
        <td>£<%= get_last_year_ammount(account) %></td>
        <td>£<%= get_annual_change(account) %> (<%= get_annual_percentage_change(account) %>)</td>
        <td>[<%= link_to 'Show', account %> | 
        <%= link_to 'Edit', edit_account_path(account) %> | 
        <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
      </tr>
<% end %>    
  </tbody>
</table>

<% end %>

<br>

<%= link_to '>> add new Account', new_account_path %>
