<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>

<%= link_to 'All Accounts', accounts_path %>
<h2><%= @account.name %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= Invtype.get_name(@account.invtype_id) %></th>
      <th>Month / <%= get_ammounts(@account).first.date.strftime("%b, %Y") %></th>
      <th>Annual</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Status:<br><strong><strong><%= @account.status %></strong></td>
        <td>Ammount: <br><strong><%= number_to_currency(get_latest_ammount(@account), :precision => 0, unit: "£", separator: ",") %></strong></td>
        <td>Ammount: <br><strong><%= number_to_currency(get_last_year_ammount(@account), :precision => 0, unit: "£", separator: ",") %></strong></td>
        
      </tr>
      <tr>
        <td>VAT:<br><strong><%= @account.vat %></td>
        <td>Change: <br><strong><%= number_to_currency(get_latest_change(@account), :precision => 0, unit: "£", separator: ",") %></strong></td>
        <td>Change: <br><strong><%= number_to_currency(get_annual_change(@account), :precision => 0, unit: "£", separator: ",") %></strong></td>
      </tr>
      <tr>
        <td>Current Share Price: <br><strong><%= Account.get_share_price(@account.ticker) %>
        <%= @account.currency %></strong></td>
        <td>Percentage diff :<br><strong><%= get_latest_percentage_change(@account) %></strong></td>
        <td>Percentage diff :<br><strong><%= get_annual_percentage_change(@account) %></strong></td>
      </tr>    
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>          
  </tbody>
</table>

<%= line_chart @graph_ammounts %>

<% unless ammounts_count(@account) == 0 %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= get_ammounts(@account)[11].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[10].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[9].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[8].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[7].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[6].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[5].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[4].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[3].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[2].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[1].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[0].date.strftime("%b, %Y") %></th>                  
    </tr>
  </thead>

  <tbody>
      <tr>
      <td><center><%= get_ammounts(@account)[11].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[10].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[9].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[8].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[7].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[6].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[5].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[4].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[3].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[2].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[1].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[0].ammount.to_i %></td>
      </tr>               
  </tbody>
</table>
<% end %>

<h3>Futures</h3><%= link_to "Make future forecast", new_future_path %>

<table class="table">
  <thead>
    <tr>
       <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @account.futures.each do |future| %>
      <tr>
        <td><%= link_to Future.get_desc(future), future_path(future.id) %></td>
        <td><%= number_to_currency(Future.get_value(future), :precision => 0, unit: "£", separator: ",") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_path(@account) %>

