<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>

<%= link_to 'All Accounts', accounts_path %>

<table class="table">
  <thead>
    <tr>
      <th><h2><%= @account.name %></h2></th>
      <th>Month</th>
      <th>Annual</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Type:<br><strong><%= Invtype.get_name(@account.invtype_id) %></strong></td>
        <td>Ammount: £<br><strong><%= get_latest_ammount_formatted(@account) %></strong></td>
        <td>Ammount: £<br><strong><%= get_last_year_ammount(@account) %></strong></td>
      </tr>
      <tr>
        <td>Status:<br><strong><strong><%= @account.status %></strong></td>
        <td>Change: £<br><strong><%= get_latest_change(@account) %></strong></td>
        <td>Change: £<br><strong><%= get_annual_change(@account) %></strong></td>
      </tr>
      <tr>
        <td>VAT:<br><strong><%= @account.vat %></td>
        <td>Percentage:<br><strong><%= get_latest_percentage_change(@account) %></strong></td>
        <td>Percentage:<br><strong><%= get_annual_percentage_change(@account) %></strong></td>
      </tr>              
  </tbody>
</table>

<%= line_chart @graph_ammounts %>

<% get_ammounts(@account)%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= get_ammounts(@account)[11].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[10].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[9].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[8].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[7].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[6].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[5].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[4].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[3].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[2].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[1].date.strftime("%b, %Y") %></th>
      <th><%= get_ammounts(@account)[0].date.strftime("%b, %Y") %></th>                  
    </tr>
  </thead>

  <tbody>
      <tr>
      <td><center><%= get_ammounts(@account)[11].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[10].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[9].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[8].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[7].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[6].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[5].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[4].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[3].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[2].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[1].ammount.to_i %></td>
      <td><center><%= get_ammounts(@account)[0].ammount.to_i %></td>
      </tr>               
  </tbody>
</table>

<h3>Futures</h3><%= link_to "Make future forecast", new_future_path %>

<table class="table">
  <thead>
    <tr>
      <th>F_ID</th>
      <th>Years</th>
      <th>Rate</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @account.futures.each do |future| %>
      <tr>
        <td><%= link_to "f_id", future_path(future.id) %></td>
        <td><%= future.years %></td>
        <td><%= future.rate %></td>
        <td><%= number_with_precision(Future.get_value(future), :precision => 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_path(@account) %>

